@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.filter-btn.active {
  @apply ring-2 ring-white;
}
